{% extends "auctions/layout.html" %}
{% load static %}

{% block body %}
    <h2>Active Listings</h2>
    
    <table>
        {% for list in listing %}
            
                <td style="max-width: 7cm; padding-left: 1cm;">
                    <img src = "static/auctions/{{list.imagename}}" style="height: 6cm; max-width: 6cm;" alt=""><br>
                    <a href="{% url 'listing_page' list.title %}" style="font-size: 40px;color: black;">{{list.title}}</a><br>
                    <b>Discription</b> - {{list.discription}}<br>
                    <b>Latest Bid</b> - ${{list.current_bid}}<br>
                </td>
            

        {% endfor %}

    </table>
    
{% endblock %}